<!-- The content below is only a placeholder and can be replaced.
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<fieldset>
  <input type="button" value="hide" (click)="hideImage()" />
  <input type="button" value="show" (click)="showImage()" />
  <div [hidden]="flage_1">
    <img width="150" src="assets/image_1.jpg"/>
  </div>
</fieldset>
<fieldset>
  <input type="button" value="change" (click)="increment()" />
  <div [ngSwitch]="imageNo">
    <img *ngSwitchCase="1" src="assets/image_1.jpg"/>
    <img *ngSwitchCase="2" src="assets/image_2.jpg"/>
    <img *ngSwitchCase="3" src="assets/image_3.jpg"/>
    <img *ngSwitchCase="4" src="assets/image_4.jpg"/>
  </div>
</fieldset>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>
<h1 (click)="onClickAppName($event)">{{ myAppName }}</h1>

<input type="text" (keypress)="onKeyPressFromInput($event)" />

<ul>
  <li *ngFor="let item of listOfItem; let i=index;"> {{i+1}} - {{item}}</li>
</ul>
 -->
 <nav class="nav-top">
   <div class="logo">
    Brand
   </div>
  <ul>
    <li>
      <a [routerLink]="['/']">Home</a>
    </li>
    <li>
      <a [routerLink]="['/contact']">Contact</a>
    </li>
  </ul>
 </nav>
 <div style="float: left; width: 100%;">
    <router-outlet></router-outlet>
 </div>