.nav-top {
    display: block;
    width: 100%;
    float: left;
    background: #e5e5e5;
}

.nav-top .logo {
    float: left;
    width: 100px;
    font-size: 24px;
    padding: 5px 10px;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}

.nav-top ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.nav-top ul li a{
    text-decoration: none;
    display: block;
    padding: 8px 12px;
    margin: 0;
    color: #000;
}