<div class="row">
  <div class="col-6">
    <div class="form-group ml-3 mt-3">
      <a data-target="#addUserModal" data-toggle="modal">Add user</a>
      <div class="input-group">
        <input type="text" [(ngModel)]="query" class="form-control" aria-label="Text input with dropdown button">
        <!-- <div class="input-group-append">
          <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Dropdown</button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div role="separator" class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList; let i=index;">
      <th scope="row">{{i}}</th>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
    </tr>
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="addUserModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="register-form">
        <!-- form start -->
        <form class="form m-0" (ngSubmit)="submitUser($event)">
          <div class="note">
            <p>Create new user</p>
          </div>
          <div class="form-content m-0">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="newUser.firstName1" name="firstName" placeholder="First Name *" />
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" [(ngModel)]="newUser.lastName1" name="lastName" placeholder="Last Name *" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" class="form-control" [(ngModel)]="newUser.email1" name="email" placeholder="Email *" />
                </div>
                <div class="form-group">
                  <input type="role" list="role_list" class="form-control" [(ngModel)]="newUser.role1" name="role" placeholder="Role *" />
                  <datalist id="role_list">
                    <option value="1">Admin</option>
                    <option value="2">User</option>
                  </datalist>
                </div>
              </div>
              <div class="col-md-12">
                <hr>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="newUser.password1" name="password" placeholder="Password *" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="password" class="form-control" [(ngModel)]="rePassword" name="rePassword" placeholder="Re Password" />
                </div>
              </div>
            </div>
            <button type="submit" class="btnSubmit">Submit</button>
          </div>
        </form>
        <!-- form end -->
      </div>
    </div>
  </div>
</div>